.Card{
  border: 1px solid hsl(0, 7%, 16%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 14%, 18%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.Card .Card-image{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}
.studentcard{
  padding: 10px;
  margin: 5px;
  border: 1px solid;
  font-family: Arial, Helvetica, sans-serif;
}
.studentcard p{
  margin: 0;
}
@keyframes sprayFade {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.9;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
}
